<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Product</title>

    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

    <link rel="stylesheet" href="/css/product.css"  type="text/css">

    <script src="/js/product.js"></script>

</head>

<body>

<div class="container">
    <input id="productId" th:value="${product?.id}" type="text" hidden>
    <div class="card">
        <div class="container-fliud">
            <!--th:each="element : ${carousel_elements}"-->
            <div class="wrapper row" >
                <div class="preview col-md-6">

                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" th:each="element, iterStat : ${product?.images}" th:if="${iterStat.index == 0}" th:id="@{${'pic-'+ element.id}}"><img th:src="@{${'/api/product_img/'+ element.id}}"/></div>
                        <div class="tab-pane" th:each="element, iterStat : ${product?.images}" th:if="${iterStat.index > 0}" th:id="@{${'pic-'+ element.id}}"><img th:src="@{${'/api/product_img/'+ element.id}}" /></div>
                    </div>
                    <ul class="preview-thumbnail nav nav-tabs">
                        <li class="active" th:each="element, iterStat : ${product?.images}" th:if="${iterStat.index == 0}"><a th:data-target="@{${'#pic-'+ element.id}}" data-toggle="tab"><img th:src="@{${'/api/product_img/'+ element.id}}" /></a></li>
                        <li th:each="element, iterStat : ${product?.images}" th:if="${iterStat.index > 0}" ><a th:data-target="@{${'#pic-'+ element.id}}" data-toggle="tab"><img th:src="@{${'/api/product_img/'+ element.id}}" /></a></li>
                    </ul>

                </div>
                <div class="details col-md-6">
                    <h3 class="product-title">
                        <div th:text="${product?.name}">
                    </div>
                    </h3>
                    <div class="rating">
                        <div class="stars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <span class="review-no">41 reviews</span>
                    </div>
                    <p class="product-description" th:text="${product?.productDescription}"></p>
                    <h4 class="price">current price: <span th:text="${product?.price}"></span></h4>
                    <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
                    <div class="action">
                        <button class="add-to-cart btn btn-default" type="button" onclick="addToCart()">add to cart</button>
                        <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
