<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/registration_style.css">

    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <script>

        function createUser() {
            if ($("#password").val() === $("#confirmed_password").val()) {
                var usermodel = {
                    adress: $("#address").val(),
                    email: $("#email").val(),
                    password: $("#password").val(),
                    name: $("#name").val(),
                    phone: $("#phone").val(),
                    secondName: $("#last_name").val()
                };
                console.log(usermodel);
                var requestJSON = JSON.stringify(usermodel);
                $.ajax({
                    type: "POST",
                    url: "/api/user",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    data: requestJSON,
                    success: function (data) {
                        window.location.href="/home";
                    },
                    error: function (data) {
                        alert("error" + data);
                    }
                });
                ;
            }
        }
        
        function goToLoginPage() {
            window.location.href = "/login";
        }
    </script>

</head>
<body>

<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="/api/memory_img/logo" />
            <h3>Welcome</h3>
            <input type="submit" name="" onclick="goToLoginPage()" value="Login"/><br/>
        </div>
        <div class="col-md-9 register-right">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">Create New Account</h3>
                    <div class="row register-form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" id="name"class="form-control" placeholder="First Name *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" id="last_name" class="form-control" placeholder="Last Name" value="" />
                            </div>
                            <div class="form-group">
                                <input type="password" id="password" class="form-control" placeholder="Password *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="password" id="confirmed_password" class="form-control"  placeholder="Confirm Password *" value="" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" id="email" class="form-control" placeholder="Your Email *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" id ="phone" minlength="5" maxlength="15" name="txtEmpPhone" class="form-control" placeholder="Your Phone" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" id="address" name="txtEmpPhone" class="form-control" placeholder="Your Address" value="" />
                            </div>
                            <input type="submit" class="btnRegister"  value="Register" onclick="createUser()"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>