<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Developer managenebt</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!--<script src="/js/hi.js"></script>-->
    <script src="/js/become_developer.js"></script>

    <script src="/js/developer_admin_squade.js"></script>

    <script src="/js/developer_products.js"></script>


    <script>

        window.onload=function () {

            loadMyAdmin();
            loadProductForDeveloper();

        };

    </script>
</head>
<body>

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-become_developer-tab" data-toggle="tab" href="#nav-become_developer" role="tab" aria-controls="nav-become_developer" aria-selected="true">Developer Total</a>
        <a class="nav-item nav-link" id="nav-admins-tab" data-toggle="tab" href="#nav-admins" role="tab" aria-controls="nav-admins" aria-selected="false">Admins</a>
        <a class="nav-item nav-link" id="nav-conproductstact-tab" data-toggle="tab" href="#nav-products" role="tab" aria-controls="nav-products" aria-selected="false">Products</a>
        <a class="nav-item nav-link" id="nav-orders-tab" data-toggle="tab" href="#nav-orders" role="tab" aria-controls="nav-orders" aria-selected="false">Orders</a>
        <a class="nav-item nav-link" id="nav-new_product-tab" data-toggle="tab" href="#nav-new_product" role="tab" aria-controls="nav-new_product" aria-selected="false">New Product</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-become_developer" role="tabpanel" aria-labelledby="nav-become_developer-tab">
        <div th:replace="fragments/developer_owner/developer_total :: developer_total"></div>
    </div>
    <div class="tab-pane fade" id="nav-admins" role="tabpanel" aria-labelledby="nav-admins-tab">
        <div th:replace="fragments/developer_owner/developer_admin_squade :: admins_squade"></div>
    </div>
    <div class="tab-pane fade" id="nav-products" role="tabpanel" aria-labelledby="nav-products-tab">
        <div th:replace="fragments/developer_for_admins/developer_products :: developer_products"></div>
    </div>
    <div class="tab-pane fade" id="nav-orders" role="tabpanel" aria-labelledby="nav-contact-tab">
        <div th:replace="fragments/developer_for_admins/dev_orders :: dev_orders" ></div>
    </div>
    <div class="tab-pane fade" id="nav-new_product" role="tabpanel" aria-labelledby="nav-new_product-tab">
        <a href="/product_config">New Product Configuration</a>
    </div>
</div>

</body>
</html>