<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<title>New product</title>

</head>

<body>
<div class="container" th:fragment="products_fragment">
    <br>
        <div class="row" id="ads">
            <!-- Category Card -->
            <div class="col-md-4" th:each="product : ${products}">
                <div class="card rounded">
                    <span class="card-notify-badge" th:text="${product?.name}"></span>
                    <span class="card-detail-badge" th:text="${product?.price}"></span>
                    <div class="card-image">
                        <a th:href="@{${'/product/'+ product.id}}" >
                            <img class="img-fluid" th:src="@{${'/api/product_root_img/'+ product.id}}" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
</div>
</body>
</html>